body {
    font-family: 'Quicksand', sans-serif;
}
.logo_img {
    width: 44.99px;
    height: 44.96px;
    margin-right: 10px;
}
.header {
    position: fixed;
    width: 95%;
    outline: 1px solid silver;
    padding: 15px ; 
    margin: 5px 5px 5px 8px;
    font-size: 40px;
}
a {
    text-decoration: none;
}

.modal {
    padding-top: 0%;
    display: block;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 100%;
    height: 350px;
    max-height: 100%;
    z-index: 100;
    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  }
.modal-guts {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 50px 20px 20px;
    overflow: auto;
}
.modal-overlay {
    z-index: 50;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
.closed {
    display: none;
}
.modal .close-button {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 20px;
    
    border: 0;
    background: #FF3300;
    color: white;
    padding: 5px 10px;
    font-size: 1.3rem;
  }
.open-buttons {
    position: absolute;
    left: 49%;
    top: 50%;
}  
.open-button {
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 21px;
  }
.form-name {
    font-size: 21px;
    margin-bottom: 30px;
    margin-top: 0%;
    font-weight: 300;

}
.form-inside {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.button {
    background: #FF3300;
    color: white;
    border-radius: 10px;
    border: 0;
    font-family: 'Quicksand', sans-serif;
}
.submit {
    width: 100%;
    height: 40px;
    font-weight: 700;
    
}
.sign-in-form {
    text-align: left;
}